@{
    ViewData["Title"] = "Weights";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Army Barracks<br />
    123 Prison street<br />
    <abbr title="Phone">P:</abbr>
    336-207-7185
</address>

<address>
    <strong>Support:</strong> <a href="mailto:alexander.gough@outlook.com">Support@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:alexander.gough@outlook.com">Marketing@outlook.com</a>
</address>
